.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 40px;
    color: black;
    padding-bottom: 50px;

}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    padding-right: 30px;
    color: black;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}